<%- include('../partials/head', {title: 'productos'}) %> 
<body>
    <%- include('../partials/header') %> 
    <main class="product__main">
        <section class="product__main__section">
            <h2>TODOS LOS PRODUCTOS</h2>
            <section>
                <% products.forEach(({id, name, price, images, discount}) => { %>
                    <%- include('../partials/product',{
                        id,
                        name,
                        price,
                        images,
                        discount,
                        toThousand
                    }) %> 
                <% }) %>
            </section>
        </section>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>