
    <%- include('../partials/head', {title: 'Carrito'}) %> 
<body>
    <%- include('../partials/header') %> 
    <main class="">
        <div>
            <a href="/">Volver al inicio</a>
        </div>
        <div>
            <div>
                <img src="" alt="">
            </div>
            <h4>Nombre</h4>
            <p>precio</p>
            <span>descuento</span>
            <select name="" id="">
                <option value="">Cantidad</option>
            </select>
        </div>
        <div>
            <button>Concluir compra</button>
        </div>
        <section class="">
            <% productOfertas.forEach(({id, name, price, images, discount}) => { %>
                <%- include('../partials/product',{
                    id,
                    name,
                    price,
                    images,
                    discount,
                    toThousand
                }) %> 
            <% }) %>
        </section>
    </section>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>