<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
    <title> Garras Amigas </title>
</head>

<body>
    <header class="home__header">
        <div class="home__header--header">

            <div class="home__header--logo">
                <a href="/"><img src="/img/garrasLogo.png" alt="logo"></a>
            </div>

            <div class="home__header--btn__menu">
                <label for="btn-menu"><i class="fa-solid fa-bars"></i></label>
            </div>

        </div>


        <input type="checkbox" id="btn-menu">


        <div class="home__header--container-menu">
            <div class="home__header--cont-menu">
                <nav>

                    <div class="home__header--contacto">
                        <a href="/login"><i class="fa-regular fa-circle-user"></i> Ingresa</a>
                    </div>
                    <div class="home__header--serch-bar">
                        <input type="text" placeholder="  Buscar productos, marcas">
                        <!-- <button><i class="fa-solid fa-magnifying-glass"></i></button> -->
                    </div>
                    <hr>

                    <ul>
                        <li><a href="/productos">Productos </a></li>
                        <li><a href="/dudas">Dudas?</a></li>
                        <li><a href="/guia">Guía de compra</a></li>
                        <li><a href="/contacto">Contacto</a></li>
                        <li><a href="/talles">Guía de talles</a></li>
                    </ul>

                    <div>
                        <img src="/img/gatoAcostado.png" width="200px">
                    </div>

                </nav>

                <label for="btn-menu">✖️</label>
            </div>
        </div>



    </header>

</body>

</html>