<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="home__header">
        <section class="home__header__section">
            <div class="home__header--logo">
                <a href="/"><img src="/img/WhatsApp Image 2022-07-15 at 9.36.05 PM.jpeg"></a>
            </div>
            <div class="home__header--burger">
                <button><i class="fas fa-bars"></i></button>
            </div>
            <div class="home__header--buscador">
                <form action="">
                    <input type="text">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="home__header--login">
                <a href="/login"><i class="fa-solid fa-user"></i></a>
            </div>
            <div class="home__header--carrito">
                <a href="/productCart"><i class="fa-regular fa-bag-shopping"></i></a>
            </div>
            <div class="home__header--menu">
                <ul>
                    <li><a>PRODUCTOS</a></li>
                    <li><a>DUDAS</a></li>
                    <li><a>GUIA DE COMPRAS</a></li>
                    <li><a>CONTACTO</a></li>
                    <li><a>GUIA DE TALLES</a></li>
                </ul>
            </div>
            <div class="home__header--banner">
                /* imagen del banner*/
            </div>
        </section>
    </header>
    <main class="home__main">
        <section class="home__main__section--novedades">
            <h2>NOVEDADES</h2>
            <article class="home__main__section--article">
                <a href="/productdetail"><img src="/img/kit collar.jpeg"></a>
                <div>
                    <h4>Kit collar Floral</h4>
                    <p>$5.000</p>
                    <a href="/productCart"><i class="fa-regular fa-bag-shopping"> AÑADIR AL CARRITO</i></a>
                </div>
            </article>
            <article class="home__main__section--article">
                <a href="/productdetail"><img src="/img/Correa.jpeg"></a>
                <div>
                    <h4>Correa Turquesa</h4>
                    <p>$2.000</p>
                    <a href="/productCart"><i class="fa-regular fa-bag-shopping"> AÑADIR AL CARRITO</i></a>
                </div>
            </article>
            <article class="home__main__section--article">
                <a href="/productdetail"><img src="/img/kit completo 1.jpeg"></a>
                <div>
                    <h4>Kit Completo Dinos</h4>
                    <p>$7.000</p>
                    <a href="/productCart"><i class="fa-regular fa-bag-shopping"> AÑADIR AL CARRITO</i></a>
                </div>
            </article>
            <article class="home__main__section--article">
                <a href="/productdetail"><img src="/img/Mochila.jpeg"></a>
                <div>
                    <h4>Mochila</h4>
                    <p>$7.000</p>
                    <a href="/productCart"><i class="fa-regular fa-bag-shopping"> AÑADIR AL CARRITO</i></a>
                </div>
            </article>
        </section>
        <section class="home__main__section--destacados">
            <h2>DESTACADOS</h2>
            <article class="home__main__section--article">
                <a href="/productdetail"><img src="/img/kit collar.jpeg"></a>
                <div>
                    <h4>Kit collar Floral</h4>
                    <p>$5.000</p>
                    <a href="/productCart"><i class="fa-regular fa-bag-shopping"> AÑADIR AL CARRITO</i></a>
                </div>
            </article>
            <article class="home__main__section--article">
                <a href="/productdetail"><img src="/img/kit completo 2.jpeg"></a>
                <div>
                    <h4>Kit Completo Kawaii</h4>
                    <p>$7.000</p>
                    <a href="/productCart"><i class="fa-regular fa-bag-shopping"> AÑADIR AL CARRITO</i></a>
                </div>
            </article>
            <article class="home__main__section--article">
                <a href="/productdetail"><img src="/img/kit completo 1.jpeg"></a>
                <div>
                    <h4>Kit Completo Dinos</h4>
                    <p>$7.000</p>
                    <a href="/productCart"><i class="fa-regular fa-bag-shopping"> AÑADIR AL CARRITO</i></a>
                </div>
            </article>
            <article class="home__main__section--article">
                <a href="/productdetail"><img src="/img/Mochila.jpeg"></a>
                <div>
                    <h4>Mochila</h4>
                    <p>$7.000</p>
                    <a href="/productCart"><i class="fa-regular fa-bag-shopping"> AÑADIR AL CARRITO</i></a>
                </div>
            </article>
        </section>
        <section class="home__main__section--ofertas">
            <h2>OFERTAS</h2>
            <article class="home__main__section--article">
                <a href="/productdetail"><img src="/img/kit collar.jpeg"></a>
                <div>
                    <h4>Kit collar Floral</h4>
                    <p>$5.000</p>
                    <a href="/productCart"><i class="fa-regular fa-bag-shopping"> AÑADIR AL CARRITO</i></a>
                </div>
            </article>
            <article class="home__main__section--article">
                <a href="/productdetail"><img src="/img/Correa.jpeg"></a>
                <div>
                    <h4>Correa Turquesa</h4>
                    <p>$2.000</p>
                    <a href="/productCart"><i class="fa-regular fa-bag-shopping"> AÑADIR AL CARRITO</i></a>
                </div>
            </article>
            <article class="home__main__section--article">
                <a href="/productdetail"><img src="/img/kit completo 1.jpeg"></a>
                <div>
                    <h4>Kit Completo Dinos</h4>
                    <p>$7.000</p>
                    <a href="/productCart"><i class="fa-regular fa-bag-shopping"> AÑADIR AL CARRITO</i></a>
                </div>
            </article>
            <article class="home__main__section--article">
                <a href="/productdetail"><img src="/img/Mochila.jpeg"></a>
                <div>
                    <h4>Mochila</h4>
                    <p>$7.000</p>
                    <a href="/productCart"><i class="fa-regular fa-bag-shopping"> AÑADIR AL CARRITO</i></a>
                </div>
            </article>
        </section>
        <section class="home__main__section--carrusel">
            /*carrusel*/
        </section>
    </main>
    <footer></footer>

</body>
</html>