<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/gatoCorona.png" type="image/png">
    <link rel="stylesheet" href="/css/styles.css">
    <title> Garras Amigas | Login </title>
    <script src="https://kit.fontawesome.com/1d79aed36b.js" crossorigin="anonymous"></script>
</head>

<!-- HEADER -->

<body>


    <main class="main__login">
        <section class="main__login__container">
            <h1>Ingresa</h1>
            <div class="main__login__iniciar">
                <p>¿Aún no tenes una cuenta?</p><a href="/register">Registrate</a>
            </div>
            <form action="" class="main__login__form" method="">
                <input type="email" placeholder="  EMAIL" name="email" />
                <!-- <small  class="texto--error">El email es obligatorio</small> -->
                <input type="password" placeholder="  CONTRASEÑA" name="contrasenia" />
                <!-- <small  class="texto--error">El password debe contener entre 6 y 12 caracteres</small> -->
                <div class="main__login__botones__send">
                    <button type="submit">INGRESAR!</button>
                </div>
            </form>
            <div class="main__register__botones__redes">
                <h5>O INGRESA CON</h5>
                <div class="redes__sociales--fa   ">
                    <a href=""><i class="fa-brands fa-facebook"></i> </a>
                </div>
                <div class="redes__sociales--insta  ">
                    <a href=""><i class="fa-brands fa-instagram"></i> </a>
                </div>
                <div class="redes__sociales--go  ">
                    <a href=""><i class="fa-brands fa-google-plus"></i> </a>
                </div>
            </div>
        </section>
    </main>
</body>

</html>