<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProductDetail</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="home__header">
        <figure class="home__header--figure">
            <img src="/img/Logo-Garras-Amigas.png" alt="Logo Garras Amigas">
        </figure>
        <nav  class="home__header__nav">
            <div class="home__header__nav--burger">
                <button><i class="fas fa-bars"></i></button>
            </div>            
            <section class="home__header__nav__section--form">
                <form>
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </section>
            <div class="home__header__nav--login--cart">
                <a href="/login"><i class="fa-solid fa-user"></i></a>
                <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>  
            </div>
            <div class="home__header__nav--links">
                <ul>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Dudas</a></li>
                    <li><a href="#">Guia de compras</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Guia de talles</a></li>
                </ul>
            </div>
        </nav>
        <main class="home__main">
            <figure class="home__main__figure">
                <img src="/img/Anuncio.png" alt="Adopta, no compres">
            </figure>
            <article class="home__main__article">
                <section class="home__main__article__section">
                    <figure class="home__main__article__section--figure">
                        <img src="/img/Mochila.jpeg" alt="Mochilas">
                    </figure>
                    <div class="home__main__article__section--imgs">
                        <img src="/img/kit-collar.jpeg" alt="Kit de collares">
                        <img src="/img/kit-completo-1.jpeg" alt="Kit completo de paseo">
                        <img src="/img/kit-completo-2.jpeg" alt="Kit completo de paseo 2">
                        <img src="/img/kit-collar.jpeg" alt="Collar">
                    </div>
                </section>
                <section>
                    <div>
                        <h2>Nombre del producto</h2>
                        <h3>Metodo de envio</h3>
                        <h4>Metodo de pago</h4>
                        <h5>Precio</h5>
                    </div>
                </section>
                <section>
                    <div>
                        <h2>Descripcion del producto</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam asperiores similique nesciunt veritatis. Laboriosam amet atque adipisci tenetur voluptas nemo, velit eos ad perferendis fugiat illum corporis error molestias quod?</p>
                    </div>
                    <div>
                        <span>Opiniones</span>
                        <p>Clasificaciones</p>
                        <p><a href="#">Usuario</a></p>
                    </div>
                    <div>
                        <span>Dudas Frecuentes</span>
                        <p><a href="#">usuario</a></p>
                        <p>Dudas</p>
                    </div>
                </section>
            </article>
        </main>
    </header>
</body>
</html>