<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/Logo-Garras-Amiga.png" type="image/png">
    <title> Garras Amigas | Registro </title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1d79aed36b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="home__header">
        <section class="home__header__section">
            <div class="home__header--logo">
                <a href="/"><img src="/img/Logo-Garras-Amiga.png"></a>
            </div>
            <div class="home__header--burger">
                <button><i class="fas fa-bars"></i></button>
            </div>
            <div class="home__header--buscador">
                <form action="">
                    <input type="text">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="home__header--login--carrito">
                <a href="/login"><i class="fa-solid fa-user"></i></a>
                <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="home__header--menu">
                <ul>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="/dudas">Dudas</a></li>
                    <li><a href="/guiadecompras">Guia de compras</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                    <li><a href="/guiadetalles">Guia de talles</a></li>
                </ul>
            </div>
        </section>
    </header>
    <main class="main__register">
        <section class="main__register__container">
            <h1>REGÍSTRATE</h1>
            <div class="main__register__container__text">
                <p>¿Ya tienes tu perfil ?</p><a href="/login">Iniciar Sesión</a>
            </div>
            <form action="" class="main__register__form" method="">

                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" autocomplete="off" name="firstName">
                <small  class="texto--error">El nombre es obligatorio</small>

                <label for="apellido">Apellido:</label>
                <input min="0" step="0.1" max="10" type="text" id="apellido" name="lastName">
                <small  class="texto--error">El apellido es obligatorio</small>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
                <small  class="texto--error">El email es obligatorio</small>

                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password">
                <small  class="texto--error">El password debe contener entre 6 y 12 caracteres</small>

                <div class="main__register__botones__send">
                    <button type="reset">Cancelar</button>
                    <button type="submit">Registrate</button>
                </div>
            </form>
            <hr>
            <p>O Regístrate con</p>
            <div class="redes__sociales__f">
                <a href=""><i class="fa-brands fa-facebook"></i>
                    Facebook</a>
                <!-- <button class="form__button form__button--send" type="submit">Registrate</button> -->
            </div>
            <div class="redes__sociales__g ">
                <a href=""><i class="fa-brands fa-google-plus"></i>
                    Google</a>
                <!-- <button class="form__button form__button--send" type="submit">Registrate</button> -->
            </div>
        </section>
    </main>
    <footer class="home__footer">
        <div class="home__footer__divContainer home__footer__divContainer0">
            <h2>Enlaces rapidos</h2>
            <ul>
                <li><a href="#">#Somos Garras Amigas</a></li>
                <li><a href="#">#Guia de compra</a></li>
                <li><a href="#">#Preguntas frecuentes</a></li>
                <li><a href="#">#Politica de cambio o devolución</a></li>
                <li><a href="#">#Contactanos</a></li>
            </ul>
        </div>
        <div class="home__footer__divContainer1 home__footer__divContainer">
            <h2>¿Necesitas ayuda?</h2>
            <p>Estamos aqui para ayudarte a que tu experiencia con nosotros sea lo mas comoda posible</p>
            <p>Ante cualquier duda, nuestros horarios de atencion es de lunes a viernes desde las 9:00am - 18:00pm</p>
        </div>
        <div class="home__footer__divContainer2 home__footer__divContainer">
            <h2>¡Siguenos en nuestras redes!</h2>
            <div class="home__footer__divContainer2--direccion">
                <i class="fa-brands fa-whatsapp"></i>
                <a href="#">Whatsapp</a>
            </div>
            <div class="home__footer__divContainer2--direccion">
                <i class="fa-brands fa-square-facebook"></i>
                <a href="#">Facebook</a>
            </div>
            <div class="home__footer__divContainer2--direccion">
                <i class="fa-brands fa-instagram"></i>
                <a href="#"></i>Instagram</a>
            </div>
        </div>
        <div class="home__footer__divContainer2--textarea">
            <form action="/" class="home__footer__divContainer2--textarea--form">
                <h2>¡Dejanos tu comentario!</h2>
                <textarea name="comentario" id="comentario" cols="40" rows="10" maxlength="300"></textarea>
                <div class="home__footer__form__botones"> 
                    <input class="footer__input__reset" type="reset" name="comentario" id="comentario" value="Reset">
                    <input class="footer__input__submit" type="submit" name="comentario" id="comentario" value="Enviar">   
                </div>
            </form>
        </div>
    </footer>
</body>
</html>