<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/gatoCorona.png" type="image/png">
    <title> Garras Amigas | Registro </title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1d79aed36b.js" crossorigin="anonymous"></script>
</head>

<!-- HEADER -->

<body>



    <!-- MAIN -->

    <main class="main__register">

        <section class="main__register__container">

            <h1>REGÍSTRATE</h1>



            </div>
            <form action="" class="main__register__form" method="">


                <label for="nombre">NOMBRE</label>
                <input placeholder="Ingresa tu nombre" type="text" id="nombre" autocomplete="off" name="firstName">
                <!-- <small  class="texto--error">El nombre es obligatorio</small> -->






                <label for="email">EMAIL</label>
                <input placeholder="Ingresa tu email" type="email" id="email" name="email">
                <!-- <small  class="texto--error">El email es obligatorio</small> -->



                <label for="password">CONTRASEÑA</label>
                <input placeholder="Ingresa tu contraseña" type="password" id="password" name="password">
                <!-- <small  class="texto--error">El password debe contener entre 6 y 12 caracteres</small> -->




                <div class="main__register__botones__send">

                    <button type="submit">ENVIAR!</button>
                </div>

            </form>

            <div class="main__register__botones__redes">
                <p>O Regístrate con</p>

                <div class="redes__sociales--fa">
                    <a href=""><i class="fa-brands fa-facebook"></i> </a>
                </div>

                <div class="redes__sociales--insta">
                    <a href=""><i class="fa-brands fa-instagram"></i> </a>
                </div>
                <div class="redes__sociales--go">
                    <a href=""><i class="fa-brands fa-google-plus"></i> </a>

                </div>
                
               

              
                <div class="main__register__inciar">

                    <p>¿Ya tenes un perfil ?</p><a href="/login">Iniciar Sesión</a> 
                </div>
            </div>





        </section>
    </main>









</body>

</html>