<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo.png" type="image/png">
    <title> Garras Amigas | Registro </title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1d79aed36b.js" crossorigin="anonymous"></script>
</head>

<!-- HEADER -->

<body>
      

    <!-- MAIN -->






    <main class="main__register">

        <section class="main__register__container">

            <h1>REGÍSTRATE</h1>

            <div class="main__register__container__text">
                <p>¿Ya tenes un perfil ?</p><a href="/login">Iniciar Sesión</a>

            </div>
            <form action="" class="main__register__form" method="">


                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" autocomplete="off" name="firstName">
                <small  class="texto--error">El nombre obligatorio</small>


                <label for="apellido">Apellido:</label>
                <input min="0" step="0.1" max="10" type="text" id="apellido" name="lastName">
                <small  class="texto--error">El apellido obligatorio</small>



                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
                <small  class="texto--error">El email obligatorio</small>



                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password">
                <small  class="texto--error">El password debe contener entre 6 y 12 caracteres</small>

               


                <div class="main__register__botones__send">
                    <button type="reset">Cancelar</button>
                    <button type="submit">Registrate</button>
                </div>
            </form>

            <hr>

            <p>O Regístrate con</p>

            <div class="redes__sociales__f">
                <a href=""><i class="fa-brands fa-facebook"></i>
                    Facebook</a>
                <!-- <button class="form__button form__button--send" type="submit">Registrate</button> -->
            </div>
            <div class="redes__sociales__g ">
                <a href=""><i class="fa-brands fa-google-plus"></i>
                    Google</a>
                <!-- <button class="form__button form__button--send" type="submit">Registrate</button> -->
            </div>

        </section>
    </main>




    <!-- footer -->

    <footer>

        <section class="footer__section__container">

            <article class="footer__container columnas__enlaces">

                <h4> Enlaces Rápidos</h4>
                <a href="">
                    <p>#SomosGarrasAmigas</p>
                </a>
                <a href="">
                    <p>Guía de compra</p>
                </a>
                <a href="">
                    <p>Preguntas frecuentes</p>
                </a>
                <a href="">
                    <p>Política cambio o devolución</p>
                </a>
                <a href="">
                    <p>Contactanos</p>
                </a>
            </article>

            <article class="footer__container  columnas__ayuda">
                <h4> ¿Necesitas Ayuda?</h4>
                <p>Estamos acá para audarte en lo que necesites, no dudes en contactarnos si tenés alguna pregunta o
                    necesitas asistencia</p>
                <p>Lun-Vie 9:00 am - 6:00 pm</p>
                <p> <a href=""><i class="fa-brands fa-whatsapp"></i> +5491150487437</p></a>
                <a href="">
                    <p> <i class="fa-light fa-at"></i> o envia un email</p>
                </a>

            </article>
            <article class="footer__container  columnas__seguinos">
                <h4>Seguinos</h4>
                <a href="">
                    <p><i class="fa-brands fa-facebook"></i> Facebook</p>
                </a>
                <a href="">
                    <p><i class="fa-brands fa-instagram"></i> Instagram</p>
                </a>
            </article>


        </section>






    </footer>


</body>

</html>