:root{
    --colorRosa:#FF6B6B;
    --colorAmarrillo:#FFD93D;
    --colorVerde: #6BCB77;
    --colorCeleste: #4D96FF;
    --colorCelesteClaro: #6998AB;
    --colorAzul: #406882;

 /*linear-gradient(90deg,#00c4cc,#7d2ae8)*/
    --textoSizeCuerpo: 15px;
    --textoSizeTitulares: 24px;
    --textoSizePrecios: 18px;
    --textoSizeProducto: 16px
}
*{
    box-sizing: border-box;
    margin: 0;
}
/*HOME | HEADER*/
.home__header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.home__header__section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--colorAzul);
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.home__header--logo{
    width: 20%;
    
}
.home__header--logo a img{
    width: 100%;
    background-color: var(--colorAzul);
}
.home__header--burger {
    display: flex;
    flex-direction: row;
    width: 10%;
}
.home__header--burger button{
    border: none;
    color: white;
    background-color: transparent;
}

.home__header--buscador{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}
.home__header--buscador form{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.home__header--buscador form input{
    width: 85%;
    color: white;
    border: none;
    border-radius: 5px 0px 0px 5px;

}
.home__header--buscador form button{
    width: 15%;
    border: none;
    border-radius: 0px 5px 5px 0px;
}
.home__header--buscador form button i{
    color: #666666;
    text-align: center;
}
.home__header--login--carrito{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.home__header--login--carrito a i{
    width: 50%;
    color: white;
}

.home__header--menu{
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
} 
.home__header--menu ul{
    display: flex;
    flex-direction: row;
    width: 100% ;
    justify-content: space-evenly;
    padding-bottom: 5px;
}
.home__header--menu ul li a{
    width: 50%;
    color: white;
    font-family: "Roboto"; 
    font-weight: 300;
}
/*HOME | MAIN*/
.home__main{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0;
}
.home__main__anuncio{
    width: 50%;
}
.home__main__anuncio img{
    width: 100%;
}
.home__main__producto{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
.home__main__producto-img{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.home__main__contenedor-img{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.home__main__producto h2{
    width: 100%;
    background-color: var(--colorAzul);
    color: #fff;
}
.home__main__producto-imagen{
    width: 60%;
}
.home__main__producto-imagen img{
    width: 100%;
}
.home__main__producto-imagenes{
    display: flex;
    width: 30%;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.home__main__producto-imagenes img{
    width:100%;
}
.home__main__producto--datos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    font-size: 14px;
}
.home__main__producto--descripcion--datos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    font-size: 14px;
}
.precio{
    width: 30%;
    color: var(--colorAzul);
    font-size: 18px;
}
.descuento{
    color: var(--colorRosa);
    width: 20%;
    font-size: 16px;
}
.home__main__producto--descripcion--datos span{
    width: 21%;
    color: var(--colorAzul);
}
.home__main__producto--descripcion--datos span input{
    width: 36%;
    color: var(--colorAzul);
}
.home__main__producto--descripcion--datos-botones{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.home__main__producto--descripcion--datos-botones a{
    text-align: center;
    width: 40%;
    color: var(--colorAzul);
    padding: 5px;
    border: 1px solid var(--colorAzul);
}
.home_main__producto--descripcion-caja-de-botones{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
}
.home__main__producto--descripcion-botones{
    display: flex;
    width: 40%;
}
.home__main__producto--descripcion-botones input{
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 10px;
}
.color-boton-celeste input{
    background-color: var(--colorCeleste);
    color: #fff;
}
.color-boton-verde input{
    background-color: var(--colorVerde);
    color: #fff;
}
.home__main__producto--detalles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.home__main__producto--descripcion{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.home__main__producto--descripcion h4{
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.home__main__producto--descripcion--producto{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.home__main__producto--descripcion--producto h4{
    width: 50%;
}
.home__main__producto--descripcion-clasificacion-form{
    width: 50%;
}
.home__main__producto--descripcion-clasificacion-form h4{
    text-align: center;
    width: 100%;
}
.home__main__producto--descripcion-clasificacion-form div{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    direction: rtl;
    unicode-bidi: bidi-override;
    gap: 12px;
}
.home__main__producto--descripcion-clasificacion-form div input[type=radio]{
    display: none;
}
.home__main__producto--descripcion-clasificacion-form div label{
    display: flex;
    font-size: 20px;
    justify-content: center;
    width: 10%;
    color: grey;
}
.home__main__producto--descripcion-clasificacion-form div label:hover, .home__main__producto--descripcion-clasificacion-form div label:hover ~ label {
  color: orange;
}
.home__main__producto--descripcion--comentario{
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.home__main__producto--descripcion--comentario p img{
    position: relative;
    top: 8px;
    width: 40%;
}
.home__main__producto--descripcion--producto p{
    width: 50%;
    height: 20px;
}
.home__main__producto--descripcion--producto span{
    width: 80%;
    padding: 5px;
}
/*HOME | FOOTER*/
.home__footer{
    display: flex;
    width: 100%;
    background-color: var(--colorAzul);
    flex-direction: column;
    flex-wrap: wrap;
}
.home__footer__divContainer{
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}
.home__footer__divContainer ul{
    width: 100%;
    text-align: left;
}
.home__footer__divContainer ul li{
    width: 100%;
}
.home__footer__divContainer h2{
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: #fff;
}
.home__footer__divContainer ul li a{
    color: #fff;
}
.home__footer__divContainer1{
    display: flex;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.home__footer__divContainer1 h2{
    width: 100%;
    font-size: 18px;
}
.home__footer__divContainer1 p{
    width: 90%;
    font-size: 12px;
}
.home__footer__divContainer2{
    display: flex;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    gap: 5px;
}
.home__footer__divContainer2 h2{
    width: 100%;
    font-size: 18px;
    color: #fff;
}
.home__footer__divContainer2--direccion{
    display: flex;
    width: 100%;
    color: #fff;
    gap: 5px;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
    align-items: baseline;
}
.home__footer__divContainer2--direccion a{
    color: #fff;
    font-size: 14px;
}
.home__footer__divContainer2--textarea{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.home__footer__divContainer2--textarea--form{
    width: 100%;
    text-align: center;
    flex-direction: column;
}
.home__footer__divContainer2--textarea--form h2{
    width: 100%;
    font-size: 18px;
    color: #fff;
}
.home__footer__divContainer2--textarea--form textarea{
    width: 80%;
    height: 140px;
    resize: none;
    border: none;
    border-radius: 10px;
}
.home__footer__form__botones{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.footer__input__submit{
    border: none;
    padding: 5px;
    width: 20%;
    border-radius: 10px;
    color: #fff;
    background-color: var(--colorCeleste);
}
.footer__input__reset{
    border: none;
    padding: 5px;
    border-radius: 10px;
    width: 20%;
    color: #fff;
    background-color: var(--colorRosa);
}
/*TABLET*/
@media (min-width: 768px) {
    /*HOME | HEADER*/
    .home__header--logo{
        width: 20%;
    }
    .home__header--burger {
        display: none;
    }
    .home__header--buscador{
        width: 60%;
    }
    .home__header--login--carrito a i{
        font-size: 22px;
    }
    .home__header--buscador form input{
        width: 90%;
        padding: 10px 0;
    }
    .home__header--buscador form button{
        width: 10%;
        padding: 10px 0;
    }
    .home__header--menu{
        display: block;
    }
    /*HOME | MAIN*/
    .home__main{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .home__main__anuncio{
        width: 60%;
    }
    .home__main__producto{
        width: 70%;
    }
    .home__main__producto--datos{
        display: flex;
        flex-wrap: wrap;
        width: 20%;
    }
    .home__main__producto--descripcion--datos p{
        width: 100%;
    }
    .home__main__producto--descripcion--datos span{
        width: 100%;
    }
    .home__main__producto--descripcion--datos-botones{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        gap: 5px;
    }
    .home__main__producto--descripcion--datos-botones a{
        width: 100%;
    }
    .home_main__producto--descripcion-caja-de-botones{
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
    }
    .home__main__producto--descripcion-botones{
        width: 100%;
    }
    .home__main__producto--descripcion--comentario p img{
        position: relative;
        top: 20px;
        width: 20%;
    }
    /*HOME | FOOTER*/
    .home__footer{
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .home__footer__divContainer{
        width: 30%;
    }
    .home__footer__divContainer2--textarea input{
        width: 20%;
    }
}

/*DESKTOP*/
@media (min-width: 1024px){
    /*HOME | FOOTER*/
    .home__footer{
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 10px;
    }
    .home__footer__divContainer0{
        width: 20%;
        padding: 25px 0 25px 25px;
    }
    .home__footer__divContainer1{
        width: 25%;
    }
    .home__footer__divContainer2{
        width: 25%;
        padding: 25px 0;
        gap: 10px;
    }
    .home__footer__divContainer1 p{
        font-size: 16px;
    }
    .home__footer__divContainer2--textarea{
        width: 25%;
        padding: 25px 0;
    }
    .home__footer__divContainer2--textarea input{
        width: 20%;
    }
}
