/*HOME | FOOTER*/
.home__footer{
    display: flex;
    width: 100%;
    background-color: #6F97B0;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    border: solid red 3px;
}
.home__footer__divContainer{
    text-align: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid black 3px;
}
.home__footer__divContainer ul{
    width: 100%;
    text-align: left;
    border: solid rgb(0, 255, 255) 3px;
}
.home__footer__divContainer ul li{
    width: 100%;
}
.home__footer__divContainer h2{
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: #fff;
}
.home__footer__divContainer ul li a{
    color: #fff;
}
.home__footer__divContainer1{
    display: flex;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.home__footer__divContainer1 h2{
    width: 100%;
    font-size: 18px;
}
.home__footer__divContainer1 p{
    width: 90%;
    font-size: 12px;
}
.home__footer__divContainer2{
    display: flex;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    gap: 5px;
}
.home__footer__divContainer2 h2{
    width: 100%;
    font-size: 18px;
    color: #fff;
}
.home__footer__divContainer2--direccion{
    display: flex;
    width: 100%;
    color: #fff;
    gap: 5px;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
    align-items: baseline;
}
.home__footer__divContainer2--direccion a{
    color: #fff;
    font-size: 14px;
}
.home__footer__divContainer2--textarea{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.home__footer__divContainer2--textarea--form{
    width: 100%;
    text-align: center;
    flex-direction: column;
}
.home__footer__divContainer2--textarea--form h2{
    width: 100%;
    font-size: 18px;
    color: #fff;
}
.home__footer__divContainer2--textarea--form textarea{
    width: 80%;
    height: 140px;
    resize: none;
    border: none;
    border-radius: 10px;
}
.home__footer__form__botones{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.footer__input__submit{
    border: none;
    padding: 5px;
    width: 20%;
    border-radius: 10px;
    color: #fff;
    background-color: var(--colorCelesteClaro);
}
.footer__input__reset{
    border: none;
    padding: 5px;
    border-radius: 10px;
    width: 20%;
    color: #fff;
    background-color: var(--colorRosa);
}
/*FOOTER*/
@media (min-width: 768px) {
    /*HOME | FOOTER*/
    .home__footer{
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .home__footer__divContainer{
        width: 30%;
    }
    .home__footer__divContainer2--textarea input{
        width: 20%;
    }
}
/*DESKTOP*/
@media (min-width: 1024px){
    /*HOME | FOOTER*/
    .home__footer{
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 10px;
    }
    .home__footer__divContainer0{
        width: 20%;
        padding: 25px 0 25px 25px;
    }
    .home__footer__divContainer1{
        width: 25%;
    }
    .home__footer__divContainer2{
        width: 25%;
        padding: 25px 0;
        gap: 10px;
    }
    .home__footer__divContainer1 p{
        font-size: 16px;
    }
    .home__footer__divContainer2--textarea{
        width: 25%;
        padding: 25px 0;
    }
    .home__footer__divContainer2--textarea input{
        width: 20%;
    }
}


<header>
<nav class="navbar navbar-expand-lg p-3 mb-2 ">
    <div class="container-fluid header--logo" >
        <a class="navbar-brand" href="/index">GA.</a>
        <button class="navbar-toggler menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse header--links" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav">
                <li class="">
                    <a class="nav-item dropdown" aria-current="page" href="/index">Home</a>
                </li>
                <li class="">
                    <a class="nav-item dropdown " aria-current="page" href="/products/product">Productos</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="" aria-current="page" href="#">Admin</a>
                </li> -->
                <% if(locals.login) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Cosme Fulanito
                        </a>

                        <!-- xxxxxxxxxxxxxventana emergentexxxxxxxxxx -->
                        <ul class="dropdown-menu header--links">
                            <li><a class="dropdown-item" href="/users/profile">Mi Perfil</a></li>
                            <li><a class="dropdown-item" href="/products/cart">Mi Carrito</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/admi/admi"">Admin</a></li>
                        </ul>
                    </li>
              
                <li class=" nav-item">
                                    <a class="nav-link" href="#">Link</a>
                            </li>
                            <% }else{ %>
                                <li class="nav-item">
                                    <a class="" aria-current="page" href="/users/login">Logeate</a>
                                </li>
                                <% } %>


                                    <li class="nav-item">
                                        <a class="nav-link disabled"></a>
                                    </li>
                        </ul>






                        <!-- zxzxzxzxz -->


                        <form  action="/products/search" method="get" class="d-flex header--search" role="search">
                            <input class="form-control me-2" name="keywords"   type="search" placeholder="Buscador" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
        </div>
    </div>
</nav>

</header>