:root{
    --colorRosa:#FF6B6B;
    --colorAmarrillo:#FFD93D;
    --colorVerde: #6BCB77;
    --colorCeleste: #4D96FF;
    --colorCelesteClaro: #6998AB;
    --colorAzul: #406882;

    --textoSizeCuerpo: 15px;
    --textoSizeTitulares: 24px;
    --textoSizePrecios: 18px;
    --textoSizeProducto: 16px;

    --all-bg: #302c3099;
    --inputs: #808080;
    --botones:#674bafcc;
    --rosa:#e882e8;
    --titulos: #b6aeae;
    
}
*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
ul, ol{
    padding: 0;
    text-decoration: none; 
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}


/* main */
.main--all{
    height: 150vh;
    width: 100%;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

/* formularios */
.from-all{
    width: 100%;
}
.imputs-container-all{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    margin-top:15px;
}
.input-all{
    border: none;
    border-bottom: 2px solid grey;
    box-sizing: border-box;
    margin-bottom: 25px;
    background: transparent;
    width: 80%;
    height: 35px;   
    font-size: 1em; 
    outline: transparent;
    color: var(--inputs)
}
.input-all:hover{
    border: 2px solid var(--botones);
    cursor: pointer;
}
.input-all::placeholder{
    font-size:12px;
    color: var(--inputs);
    
}
.input-all-file{
    border: solid 1px var(--inputs);
    padding: 5px;
    border-radius: 10px;
    font-size: 10px;
    width: 80%;
}
.label-all{
    color: var(--inputs);
    font-size: 13px;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    text-align: start;
    padding-left: 27px;
}
.file-profile{
    border: none;
    
    box-sizing: border-box;
    margin-bottom: 25px;
    background: transparent;
    width: 80%;
    height: 35px;   
    font-size: 1em; 
    outline: transparent;
    color: var(--inputs)
}


/* small */

.small-all{
    color: #ee7777;
    font-size: 9px;
    text-transform: uppercase;
    margin-top:-5px;
    width: 100%;
    text-align: right;
}
/* botones */
.all-btn{
    border: solid 3px rgb(126, 191, 252);
    background:transparent;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
    height: 40px;
    text-align: center;
    margin: auto;
}
.all-btn a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(126, 191, 252);

}

/* botones de redes sociales */

.social-all{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.social-all-element{
    display: flex;
    margin-top: 15px ;
    gap: 25px;
}
.btn-redes{
    position: relative;
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, #e882e8, #a18cd1);
    display: flex;
    align-items: center;
    justify-content:center ;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    transition: scale 0.15s;
}
.btn-redes:hover{
    scale: 0.9;
    color: #fff;
}
.btn-redes::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 50%;
    opacity: 0;
    scale: 0.95;
    pointer-events: none;
}
.btn-redes:hover::after{
    animation: pulse 1s;
}
@keyframes pulse{
    0%{
        opacity: 0.8;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        scale: 2;
        opacity: 0;
    }
} 
/* titulo y subtitulo */
.subtitulo{
    margin: 28px;
    font-size: 17px;
    color: var(--titulos);
}   
.titulo{
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 4px;
    color: var(--titulos);
    margin-top: -27px;
    margin-bottom: 20px;
}

@media (min-width:768px) {
    /* formulario */
    .from-all{
        width: 40%;
    }
    .imputs-container-reg{
        height: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        align-content: stretch;
    }
    .input-all{
        width: 100%;
        height: 40px;   
    }
    /* botones redes */
    .btn-redes{
        width: 50px;
        height: 50px;
    }
    .subtitulo{
        margin: 30px;
    }
}
@media (min-width:1024px) {
    .titulo {
        font-size: 35px;
    }
    .btn-redes {
        width: 65px;
        height: 65px;
    }
    .subtitulo {
    margin: 34px;
    font-size: 25px;
    }
    .all-btn{
        height: 50px;
    }
}