:root{
    --colorRosa:#FF6B6B;
    --colorAmarrillo:#FFD93D;
    --colorVerde: #6BCB77;
    --colorCeleste: #4D96FF;
    --colorCelesteClaro: #6998AB;
    --colorAzul: #406882;

    --textoSizeCuerpo: 15px;
    --textoSizeTitulares: 24px;
    --textoSizePrecios: 18px;
    --textoSizeProducto: 16px;

    --all-bg: #302c3099;
    --titulos: #b8b8b9;
    --botones:#674bafcc;
    --rosa:#e882e8;
    
}
*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
ul, ol{
    padding: 0;
    text-decoration: none; 
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}


/* main */
.main--all{
    height: 150vh;
    width: 100%;
    background-image: linear-gradient(  45deg, #601bea 0%, #dd29aaee 100%);
}

/* formularios */
.from-all{
    width: 100%;
}
.imputs-container-all{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    margin-top:15px;
}
.input-all{
    border: none;
    border-bottom: 2px solid var(--titulos);
    box-sizing: border-box;
    margin-bottom: 25px;
    background: transparent;
    width: 80%;
    height: 35px;   
    font-size: 1em; 
}
.input-all:hover{
    border: 2px solid var(--botones);
    cursor: pointer;
}
.input-all::placeholder{
    font-size:12px;
    color: var(--titulos)
}
.input-all-file{
    border: solid 1px var(--titulos);
    padding: 5px;
    border-radius: 10px;
    font-size: 10px;
    width: 80%;
}
.label-all{
    color: var(--titulos);
    font-size: 13px;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    text-align: start;
    padding-left: 27px;
}


/* small */

.small-all{
    color: #ee7777;
    font-size: 9px;
    text-transform: uppercase;
    margin-top:-5px;
    width: 100%;
    text-align: right;
}
/* botones */
.all-btn{
    letter-spacing: 1px;
    text-transform: uppercase;
    color:  var(--titulos);
    border-radius: 5px;
    border: solid 2px var(--titulos);
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
    margin-top: 90px;
    width: 80%;
    height: 55px;   
    font-size: 1em;
    text-align: center;
}
/* botones de redes sociales */

.social-all{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.social-all-element{
    display: flex;
    margin-top: 15px ;
    gap: 25px;
}
.btn-redes{
    position: relative;
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, #e882e8, #a18cd1);
    display: flex;
    align-items: center;
    justify-content:center ;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    transition: scale 0.15s;
}
.btn-redes:hover{
    scale: 0.9
}
.btn-redes::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 50%;
    opacity: 0;
    scale: 0.95;
    pointer-events: none;
}
.btn-redes:hover::after{
    animation: pulse 1s;
}
@keyframes pulse{
    0%{
        opacity: 0.8;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        scale: 2;
        opacity: 0;
    }
} 

@media (min-width:768px) {
 
    .from-all{
        width: 40%;
    }
    .imputs-container-all{
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 5px;
        margin-top: 15px;
        flex-wrap: wrap;
        align-content: stretch;
    }
    .input-all{
        width: 80%;
        height: 40px;   
    }
    
    .input-all-file{
        border-radius: 10px;
        font-size: 10px;
        width: 80%;
    }
    .all-btn{
        width: 60%;
        height: 40px;
    }
    .input-all::placeholder{
        font-size: 15px;
        color: grey;
    }
    /* botones redes */
    .btn-redes{
        width: 50px;
        height: 50px;
    }
}
@media (min-width:1024px) {
    .from-all{
        width: 40%;
    }
    .imputs-container-all{
        height: 80%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        align-content: stretch;
    }
    .input-all{
        width: 100%;
        height: 40px;   
    }
    
    .input-all-file{
        border-radius: 10px;
        font-size: 10px;
        width: 80%;
    }
    .all-btn{
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--titulos);
        border-radius: 5px;
        border: solid 2px var(--titulos);
        background: transparent;
        cursor: pointer;
        border-radius: 5px;
        margin: 20px;
        margin-top: 90px;
        width: 60%;
        height: 40px;
        font-size: 1em;
        text-align: center;
    }
    .input-all::placeholder{
        font-size:20px;
        color: var(--titulos)
    }
    /* botones redes */
    .social-reg{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .social-reg-element{
        display: flex;
        margin-top: 15px ;
        gap: 25px;
        
    }
    .btn-redes{
        width: 60px;
        height: 60px;
    }
    .btn-redes:hover{
        scale: 0.9
    }
    .btn-redes::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: inherit;
        border-radius: 50%;
        opacity: 0;
        scale: 0.95;
        pointer-events: none;
    }
    .btn-redes:hover::after{
        animation: pulse 1s;
    }
}