/* general */
@import './general.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--tipografia);

}

ul,
ol {
    padding: 0;
    text-decoration: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header */
.home__header--header {
    background-color: rgb(255 255 255);
    width: 100%;
    border-bottom: solid 1px #6F97B0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.home__header--logo {
    width: 40%;
}

.home__header--logo img {
    width: 80%;
}

.home__header--menu i{
    width: 50%;
    color:#6F97B0;
    border: none;
    font-size: 23px;
}

.home__header--favicon{
    display: none;
}
.home__header--header--2{
    display: none;
}
/* fin del header */

/* ventana emergente */

#btn-menu {
    display: none;
}

.home__header--container-menu {
    position: absolute;
    background: transparent;
    width: 100%;
    height: 150vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

#btn-menu:checked~.home__header--container-menu {
    opacity: 1;
    visibility: visible;
}

.home__header--cont-menu {
    width: 100%;
    max-width: 250px;
    background: #607EAA;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
    border-radius: 0 10px 10px 0 ;
    height: 130vh;
}

#btn-menu:checked~.home__header--container-menu .home__header--cont-menu {
    transform: translateX(0%);
}

.home__header--cont-menu nav {
    /* transform: translateY(5%); */
    transform: translateY(5%);
}

.home__header--cont-menu nav a {
    display: block;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 3px;
    color: #fff;
    padding: 15px;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.home__header--cont-menu nav a:hover {
    border-left: 5px solid #4a4545;
    background: #fff;
    color: var(--colorCeleste);
}

.home__header--cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
.home__header--contacto-edit{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 12px;
}

.home__header--contacto-edit button{
    background-color: rgba(5, 7, 12, 0.1);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    border: solid 2px red;
}
.home__header--contacto {
    padding-top: 20px;
    width: 33%;
    padding: 10px 15px;
}

.home__header--contacto,
.home__header--carrito,
.home__header--edit {
    width: 20%;
    padding: 8px 0px;
}

.home__header--contacto a,
.home__header--carrito a,
.home__header--edit a {
    width: 20;
    color: #fff;
    font-size: 18px;
}

.home__header__form--search {
    width: 100%;
}

.home__header--search {
    position: relative;
    width: 80%;
    margin-left: 18px;
}

.home__header--search input {
    width: 113%;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 8px;
    margin-top: 39px;
    margin-left: -6px;
}

.home__header--search button {
    color: grey;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    margin-top: 45px;
    border-left: 1px solid grey;
}

.home__header--search--header {
    display: none;
}
.home__header--cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
.img-final{
    margin: 20px;
}

@media(min-width: 768px) {
    .home__header--header--2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        background-color: #fff;
        margin-bottom: 10px;
    }
    .home__header--logo {
        width: 20%;
    }
    .home__header--logo img {
        width: 90%;
        margin: 5px;
    }
    .home__header--search {
        display: none;
    }
    .home__header--search--header {
        display: flex;
        position: relative;
        width: 60%;
    }
    .home__header--search--header input {
        width: 100%;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 8px;
       
    }
    .home__header--search--header button {
        color: #6F97B0;
        border: none;
        background-color: transparent;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 18px;
        margin: 7px;
        border-left: 1px solid grey;
    }
    .home__header--menu{
        width: 0%;
    }
    .home__header--menu i{
        display: none;
    }
    .home__header--cont-menu {
        display: none;
    }
    .home__header--favicon{
        display: flex;
        width:20%;
        justify-content: space-around;
    }
    .home__header--favicon a{
        width: 20%;
        color:#6F97B0;
        font-size: 25px;
        word-spacing: 30px;
    }
    /* nav */
    
    .home__header__nav--2 {
        width: 100%;
    }
    .home__header__nav--2 ul li a{
        width: 15%;
    }
    .home__header__nav--2 ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .home__header__nav--2  a{
        font-size: 12px;
        color: #6987b4;
        font-size: 15px;
        font-weight: 200;
        align-items: center;
        transition: all 0.3s ease;
    }
    .home__header__nav--2  a:hover{
        border-bottom: 2px solid #6987b4;
		padding-bottom: 3px;
        font-size: 20px;
    }
}

@media(min-width: 1024px) {
    .home__header{
        padding: 0 60px;
    }
    
    .home__header--logo a img {
        width: 60%;
        margin: 5px;
    }
}