:root{
    --colorRosa:#FF6B6B;
    --colorAmarrillo:#FFD93D;
    --colorVerde: #6BCB77;
    --colorCeleste: #4D96FF;
    --colorCelesteClaro: #6998AB;
    --colorAzul: #406882;

    --textoSizeCuerpo: 15px;
    --textoSizeTitulares: 24px;
    --textoSizePrecios: 18px;
    --textoSizeProducto: 16px
}

/*Main*/
.home__main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    background-image: url(../images/fondo.index.jpg);
}
.home__main--banner{
    width: 100%;
}
.home__main--banner img{
    width: 100%;
    height: 500px;
}
.home__main__section--novedades{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
    width: 100%;
    font-family: "Roboto";
    font-size: var(--textoSizeTitulares);
    font-weight: 600;
    gap: 10px;
}
.home__main__section--novedades h2{
    background-color: var(--colorAzul);
    width: 100%;
}
.home__main__section--destacados{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
    width: 100%;
    font-family: "Roboto";
    font-size: var(--textoSizeTitulares);
    font-weight: 600;
    gap: 10px;
}
.home__main__section--destacados h2{
    background-color: var(--colorAzul);
    width: 100%;
}
.home__main__section--ofertas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
    width: 100%;
    font-family: "Roboto";
    font-size: var(--textoSizeTitulares);
    font-weight: 600;
    gap: 10px;
}
.home__main__section--ofertas h2{
    background-color: var(--colorAzul);
    width: 100%;
}
.home__main__articulos{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.home__main__section--article{
    justify-content: center;
    width: 100%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-bottom: 10px;
    background-color: white;
}
.home__main__section--article a img{
    width: 100%;
    height: 250px;
}
.home__main__section__article--div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.home__main__section__article--div h4{
    font-size: var(--textoSizeProducto);
    color:#666666;
}
.home__main__section__article--div p{
    font-size: var(--textoSizePrecios);
    color:#666666;
}
.home__main__section__article--div--a{
    font-size: var(--textoSizeCuerpo);
    color: #666666;
}
.home__main__section__article--div i{
    font-size: var(--textoSizeCuerpo);
    color:#666666;
}

/*TABLET*/
@media (min-width:768px){
    /*Main*/
    .home__main__section--article{
        width: 45%;
    }
}

/*Laptop*/
@media (min-width:1024px) {
    /*Main*/
    .home__main__section--article{
        width: 22%;}
}
