main{
  font-family: Roboto;
}
.product-title{
  color: violet;
  text-transform: uppercase;
  font-size: 46px;
  font-family: Roboto;
  font-weight: bold;
 
}

.description-title{
  color: violet;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Roboto;
  font-weight: bold;
}
.description{
  font-family: Roboto;
  color: rgb(172, 165, 165);
}
.price{
  text-decoration-line: line-through;
  text-decoration-thickness: from-font;
  color: #ffa229;
  font-family: Roboto;
}
.discount{
  font-family: Roboto;
  color: #30bc00;
  margin-bottom: 20px;
}
.price-total{
  font-family: Roboto;
    color: #5897af;
    border: solid #5897af 0.5px;
    padding: 9px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 50px;
    
}
.tagger-price{
  width: 80%;
  margin: auto;
}
.button-cart{
  width: 100%;
}