:root{
    --colorRosa:#FF6B6B;
    --colorAmarrillo:#FFD93D;
    --colorVerde: #6BCB77;
    --colorCeleste: #4D96FF;
    --colorCelesteClaro: #6998AB;
    --colorAzul: #406882;

    --textoSizeCuerpo: 15px;
    --textoSizeTitulares: 24px;
    --textoSizePrecios: 18px;
    --textoSizeProducto: 16px
}
*{
    box-sizing: border-box;
    margin: 0;
}

/*HOME | MAIN*/
.home__main{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0;
}
.home__main__anuncio{
    width: 50%;
}
.home__main__anuncio img{
    width: 100%;
}
.home__main__producto{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
.home__main__producto-img{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.home__main__contenedor-img{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.home__main__producto h2{
    width: 100%;
    background-color: var(--colorAzul);
    color: #fff;
}
.home__main__producto-imagen{
    width: 60%;
}
.home__main__producto-imagen img{
    width: 100%;
}
.home__main__producto-imagenes{
    display: flex;
    width: 30%;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.home__main__producto-imagenes img{
    width:100%;
}
.home__main__producto--datos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    font-size: 14px;
}
.home__main__producto--descripcion--datos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    font-size: 14px;
}
.precio{
    width: 30%;
    color: var(--colorAzul);
    font-size: 18px;
}
.descuento{
    color: var(--colorRosa);
    width: 20%;
    font-size: 16px;
}
.home__main__producto--descripcion--datos span{
    width: 21%;
    color: var(--colorAzul);
}
.home__main__producto--descripcion--datos span input{
    width: 36%;
    color: var(--colorAzul);
}
.home__main__producto--descripcion--datos-botones{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.home__main__producto--descripcion--datos-botones a{
    text-align: center;
    width: 40%;
    color: var(--colorAzul);
    padding: 5px;
    border: 1px solid var(--colorAzul);
}
.home_main__producto--descripcion-caja-de-botones{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
}
.home__main__producto--descripcion-botones{
    display: flex;
    width: 40%;
}
.home__main__producto--descripcion-botones input{
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 10px;
}
.color-boton-celeste input{
    background-color: var(--colorCeleste);
    color: #fff;
}
.color-boton-verde input{
    background-color: var(--colorVerde);
    color: #fff;
}
.color-boton-rosa input{
    background-color: var(--colorRosa);
    color: #fff;
}
.home__main__producto--detalles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.home__main__producto--descripcion{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.home__main__producto--descripcion h4{
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.home__main__producto--descripcion--producto{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.home__main__producto--descripcion--producto h4{
    width: 50%;
}
.home__main__producto--descripcion-clasificacion-form{
    width: 50%;
}
.home__main__producto--descripcion-clasificacion-form h4{
    text-align: center;
    width: 100%;
}
.home__main__producto--descripcion-clasificacion-form div{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    direction: rtl;
    unicode-bidi: bidi-override;
    gap: 12px;
}
.home__main__producto--descripcion-clasificacion-form div input[type=radio]{
    display: none;
}
.home__main__producto--descripcion-clasificacion-form div label{
    display: flex;
    font-size: 20px;
    justify-content: center;
    width: 10%;
    color: grey;
}
.home__main__producto--descripcion-clasificacion-form div label:hover, .home__main__producto--descripcion-clasificacion-form div label:hover ~ label {
    color: orange;
}
.home__main__producto--descripcion--comentario{
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.home__main__producto--descripcion--comentario p img{
    position: relative;
    top: 8px;
    width: 40%;
}
.home__main__producto--descripcion--producto p{
    width: 50%;
    height: 20px;
}
.home__main__producto--descripcion--producto span{
    width: 80%;
    padding: 5px;
}

/*TABLET*/
@media (min-width: 768px) {
    /*HOME | MAIN*/
    .home__main{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .home__main__anuncio{
        width: 60%;
    }
    .home__main__producto{
        width: 70%;
    }
    .home__main__producto--datos{
        display: flex;
        flex-wrap: wrap;
        width: 20%;
    }
    .home__main__producto--descripcion--datos p{
        width: 100%;
    }
    .home__main__producto--descripcion--datos span{
        width: 100%;
    }
    .home__main__producto--descripcion--datos-botones{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        gap: 5px;
    }
    .home__main__producto--descripcion--datos-botones a{
        width: 100%;
    }
    .home_main__producto--descripcion-caja-de-botones{
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
    }
    .home__main__producto--descripcion-botones{
        width: 100%;
    }
    .home__main__producto--descripcion--comentario p img{
        position: relative;
        top: 20px;
        width: 20%;
    }
}
