.form-label{
    font-size: 12px;
}



/* vbvbvbvbv */
.main__create{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    background-image: url("/images/fondo.png");
    
}
.main__caja{
    display: flex;
    width: 90%;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: 15% 100%;
    background-size: contain;
    background-attachment: scroll;
    background-color: rgb(228, 232, 236);
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgb(236, 241, 245);
}
.main__caja__formulario{
    display: flex;
    width: 100%;
    gap: 22px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    background-color: rgba(5, 7, 12, 0.3);
    padding: 20px 0;
}.main__formulario__cajas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.main__formulario__botones{
    display: flex;
    width: 80%;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}
.main__formulario__botones input{
    width: 80%;
    height: 40px;
    padding: 5px;
    border: solid 2px #fff;
    border-radius: 7px;
    background: rgba(5, 7, 12, 0.1);
    color:#fff;
    margin-bottom: 15px;
}


@media (min-width: 768px){
    .main__caja{
        width: 60%;
    }
    .main__caja__formulario{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px;
    }
    .main__formulario__cajas{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }
    .main__formulario__botones{
        width: 80%;
        flex-direction: row;
    }
}
@media (min-width: 1024px){
    .main__caja__formulario{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        
    }
    .main__formulario__cajas{
        width: 45%;
    }
    
    .main__formulario__botones{
        width: 45%;
    }
    .main__formulario__botones input{
        width: 50%;
    }
}


