:root{
    --colorRosa:#FF6B6B;
    --colorAmarrillo:#FFD93D;
    --colorVerde: #6BCB77;
    --colorCeleste: #4D96FF;
    --colorCelesteClaro: #6998AB;
    --colorAzul: #406882;

 /*linear-gradient(90deg,#00c4cc,#7d2ae8)*/
    --textoSizeCuerpo: 15px;
    --textoSizeTitulares: 24px;
    --textoSizePrecios: 18px;
    --textoSizeProducto: 16px
}
/*CART | MAIN*/
.cart__main{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    gap: 5px;
}
.cart__main hr{
    width: 100%;
    padding: 2px;
    border: none;
    background-color: var(--colorAzul);
}
.cart__main input[type=submit]{
    width: 50%;
    border: none;
    padding: 5px;
    background-color: var(--colorVerde);
    border-radius: 10px;
}
.cart__main__article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
}
.cart__main__article button{
    width: 60%;
    padding: 5px;
    border: none;
    background-color: transparent;
}
.cart__main__article button a{
    width: 100%;
    font-size: 16px;
    color: var(--colorRosa);
}
.cart__main__article h2{
    width: 100%;
}
.cart__main__article hr{
    width: 100%;
    padding: 2px;
    border: none;
    background-color: var(--colorAzul);
}
.cart__main__article--img{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    width: 100%;
}
.cart__main__article--img figure{
    width: 30%;
}
.cart__main__article--img figure img{
    width: 100%;
}
.cart__main__article--form{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
}
.cart__main__article--form span{
    width: 20%;
    border: 1px solid var(--colorAzul);
}
.cart__main__article--form span input{
    width: 50%;
    border: none;
    text-align: center;
}
.cart__main__article--form p{
    width: 30%;
    border: 1px solid var(--colorAzul);
    gap: 5px;
}
.cart__main__article--form p input{
    width: 45%;
    border: none;
    text-align: center;
}
/*CART | RECIBO*/
.cart__main__article--recibo{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    padding: 10px;
    border: 2px solid var(--colorAzul);
}
.cart__main__article--recibo-caja{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}
.cart__main__article--recibo-caja small{
    width: 70%;
    text-align: center;
}
.cart__main__article--recibo-caja h2{
    width: 100%;
    text-align: center;
}

.cart__main__article--textarea{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.cart__main__article--textarea label{
    width: 100%;
}
.cart__main__article--textarea textarea{
    width: 90%;
    resize: none;
}
.cart__main__article--total{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
}
.cart__main__article--total h4{
    text-align: center;
    width: 20%;
}
.cart__main__article--total p{
    text-align: center;
    width: 25%;
}
.cart__main__article--total p input{
    width: 80%;
}

/*TABLET*/
@media (min-width: 768px){
    .cart__main{
        height: 55vh;
    }
    .cart__main__article{
        display: flex;
        align-items: center;
        width: 58%;
        height: 50vh;
    }
    .cart__main__article--img{
        width: 45%;
    }
    .cart__main__article--form{
        width: 50%;
        flex-wrap: wrap;
    }
    .cart__main__article--form span{
        width: 15%;
    }
    .cart__main__article--form p{
        width: 40%;
    }
    .cart__main__article--recibo{
        width: 40%;
    }
}

/*DESKTOP*/
@media (min-width: 1024px){
    .cart__main{
        width: 100%;
        height: 60vh;
    }
    .home__header--logo{
        width: 11%;
    }
    .home__header--logo a img{
        width: 100%;
    }
}
