:root{
    --colorRosa:#FF6B6B;
    --colorAmarrillo:#FFD93D;
    --colorVerde: #6BCB77;
    --colorCeleste: #4D96FF;
    --colorCelesteClaro: #6998AB;
    --colorAzul: #406882;

 /*linear-gradient(90deg,#00c4cc,#7d2ae8)*/
    --textoSizeCuerpo: 15px;
    --textoSizeTitulares: 24px;
    --textoSizePrecios: 18px;
    --textoSizeProducto: 16px
}

.cart-main{
    background-image: url("/images/fondo2.png");
}

.cart-titulo{
    font-size: var(--textoSizeTitulares);
    font-family: 'Roboto';
}
.cart-div{
    justify-content: space-around;
}

.cart-articulo{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border: solid 2px greenyellow;
    flex-direction: row;
    flex-wrap: wrap;
}

.cart-articulo-div{
    width: 100%;
    height: 30%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: solid 5px red;

}

.cart-articulo-div img{
    width: 50%;
    height: 30%;
}

.cart-articulo-div2{
    width: 50%;
    height: 50%;
}