.seccion-profile-user{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.profile-user-header{
    width: 75%;
    display: flex;
    justify-content: center;
    /* background: pink ; */
    
}

.profile-user-portada{
    display: block;
    position: relative;
    width: 100%;
    height: 8rem;
    background: rgb(196, 119, 219) ;
    border-radius: 0 0 20px 20px;
}
.profile-user-avatar{
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px #000;
    position: absolute;
    bottom: 245px;
    left: clac(50% - 20px);
    z-index: 1;
    overflow: hidden;
}
.profile-user-avatar img{
    width: 100%;
    position: relative;
}
.profile-user-body{
    width: 90%;
    margin-top: 60px;
   
}
.profile-user-body .profile-name{
    display: flex;
    width: 100%;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    color: #686464;
     

}

 .profile-user-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    
}
.profile-user-bio{
    margin-bottom: 1.25rem;
}
.seccion-profile-user {
    padding: 0;
}
.lista-datos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgb(0 0 0 / 20%);
    background-color: #fff;
    border-radius: 15px;
    height: 100vh;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between
     
}
.datos-user p{
    width: 100%;
    color: grey;
    text-transform: uppercase;
    font-size: 13px;
    
}
.datos-user h4{
    width: 100%;
    border-bottom: solid 2px #9089cc70;
    color: #6f97b0;
    text-transform: uppercase;
}
.seccion-profile-user .lista-datos p{
    padding: 5px 0;
}












/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --profile-bg:#f8f3ff;
    --titulos:#9089cc;
    --botones:#674baf;
    --rosa:#e882e8;
   
}
.main--profile{
    height: 140vh;
    width:100%;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.profile--container{
    height: 47.75em;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 10px;
   
    
}
.profile-info-container{
    width: 85%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 3.5rem;
    background-color: var(--profile-bg);
    margin: auto;
    border-radius: 10px;
    box-shadow: 16px 18px 3px 3px #12111142;
    
}


.profile-info-container h1{
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--titulos);
    margin-top: -27px;
    
}
.profile--foto{
    width: 70%;
    height: 30%;
    border-radius: 50%;
    border: solid  var(--titulos) 3px;
    margin: 20px;
}

    


.imputs-container-profile{
    height: 75%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}
.input-profile, .profile-btn{
    width: 90%;
    height: 30px;
    font-size: 1em;
}
.input-profile{
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 11px;
}
.input-profile:hover{
    border: 2px solid var(--botones);
    cursor: pointer;
}
.profile-btn{
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    border: none;
    background-color: var(--botones);
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}
.recordame .check{
    cursor: pointer;
    margin: 28px;
    font-size: 17px;
    color: grey;
    display: inline-block;
    border: solid red 2px;
}
.imputs-container p{
    margin:0;
}
.span{
    color: var(--rosa);
    font-weight: 100;
    cursor: pointer;
    margin-bottom: 10px;
}

@media(min-width:768px){
    .main--profile{
        height: 130vh;
    }
    .profile--container{
        height: 41.75em;
    }
    .profile-info-container{
        width: 55%;
        height: 107vh;
    }
   
    .profile-info-container h1{
         font-size: 32px;
    }
    .btn-redes{
        width: 45px;
        height: 45px;
    }
    .btn-redes:hover{
        scale: 0.9
    }
    .btn-redes::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: inherit;
        border-radius: 50%;
        opacity: 0;
        scale: 0.95;
        pointer-events: none;
    }
    .btn-redes:hover::after{
        animation: pulse 1s;
    }
    @keyframes pulse{
        0%{
            opacity: 0.8;
        }
        50%{
            opacity: 0.5;
        }
        100%{
            scale: 2;
            opacity: 0;
        }
    } 
    .input-profile, .profile-btn{
        width: 90%;
        height: 40px;
        font-size: 1em;
    }
    .input-profile{
        padding-left: 20px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        margin-bottom: 11px;
    }
    .input-profile:hover{
        border: 2px solid var(--botones);
        cursor: pointer;
    }
    .profile-btn{
        width: 80%;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
        border-radius: 5px;
        border: none;
        background-color: var(--botones);
        cursor: pointer;
        border-radius: 5px;
        margin: 5px;
    }
    .recordame .check{
        cursor: pointer;
        margin: 28px;
        font-size: 17px;
        color: grey;
        display: inline-block;
    }
    .imputs-container p{
        margin:0;
    }
    .span{
        color: var(--rosa);
        font-weight: 100;
        cursor: pointer;
        margin-bottom: 10px;
    }
}
@media (min-width:1024px){
    .main--profile{
        height: 100vh;
    }
    .profile--container{
        height: 42.75em;
        width: 45em;
        margin: auto;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        border-radius: 10px;
    }
    .profile-info-container{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: var(--profile-bg);
        margin-top: 31px;
    }
    .iamge-container{
        display: flex;
        width: 52%;
        margin-top: 2em;
        box-sizing: border-box;
        border-radius: 10px;
    }
    .profile-info-container h1{
        text-transform: capitalize;
        font-size: 2.25rem;
        font-weight: 100;
        letter-spacing: 1px;
        color: var(--titulos);
    }
    .social-profile{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .profile-info-container p{
        font-size: 1.25em;
    }
    .imputs-container{
        height: 55%;
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .input-profile, .profile-btn{
        width: 90%;
        height: 3.25em;
        font-size: 1em;
    }
    .input-profile{
        padding-left: 20px;
        border: none;
        border-radius: 5px;
        font-weight: 100;
        letter-spacing: 1px;
        box-sizing: border-box;
        margin-bottom: 11px;
    }
    .input-profile:hover{
        border: 2px solid var(--botones);
        cursor: pointer;
    }
    .profile-btn{
        width: 80%;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
        border-radius: 5px;
        border: none;
        background-color: var(--botones);
        cursor: pointer;
        border-radius: 5px;
        margin: 5px;
    }
    .recordame, .check{
        color: var(--rosa);
        cursor: pointer;
        margin: 5px;
    }
    .imputs-container p{
        margin:0;
    }
    .span{
        color: var(--rosa);
        font-weight: 100;
        cursor: pointer;
    }
} */