/* .main--profile{
    height: 200vh;
    width: 100%;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.profile--container{
    height: 67.75em;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 10px;
}
/* tarjeta blanca 
.profile-info-container{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 3.5rem;
    background-color: var(--all-bg);
    margin: auto;
    border-radius: 10px;
    box-shadow: 16px 18px 3px 3px #12111142;
    margin-top: 31px;
}
.profile-info-container p {
    margin: 28px;
    font-size: 17px;
    color: grey;
}
/*perfil fondo avatar 
.profile-user-header{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: -40px;
}
.profile-user-portada{
    display: block;
    position: relative;
    width: 100%;
    height: 8rem;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border-radius: 0 0 20px 20px;
}
.profile-user-avatar{
    display: flex;
    width: 130px;
    height: 130px;
    align-items: center;
    justify-content: center;
    border: 4px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px #000;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    margin-top: 50px;
}
.profile-user-avatar img{
    width: 100%;
    position: relative;
    object-position: left 40% top 50% ;
}
cuerpo 
 .profile-user-body{
    width: 100%;
    margin: 60px 0;
    border: solid 3px red;
} 
.profile-user-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 12px rgb(0 0 0 / 20%);
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    border-bottom: 20px;
    margin-top: 18px;
}

.profile-name{
    display: flex;
    width: 100%;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    color: #686464;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.all-btn a{
    color: #fff;
}
@media ( min-width: 768px){
    .profile-user-body{
        width: 70%;
        
    }
    .profile-name{
        font-size: 24px;
        height: 4vh;
    }
    .profile-user-bio {
        display: flex;
        flex-wrap: wrap;
        padding: 1.5rem 2rem;
        box-shadow: 0 0 12px rgba(0, 0, 0, .2);
        background-color: #fff;
        border-radius: 15px;
        text-align: center;
        width: 100%;
        margin-bottom: 2.25rem;
       
    }
    .lista-datos{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: space-evenly;
        justify-content: space-around;
        align-items: center;
        border: solid 2px red;
    }
    .datos-user {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        align-items: flex-start;
        width: 45%;
    }
    .datos-user p{
        width: 200%;
        color: grey;
        text-transform: uppercase;
        font-size: 13px;
    }
    
    .btn-profile button{
        border: none;
        padding: 10px;
        background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
        border-radius: 5px;
        color:#fff;
        text-transform: uppercase;
        width: 100%;
        
        margin-bottom: 15px;
    }
    .btn-profile button:hover{
        background:  #fff;
        color: #a18cd1;
        border: solid #a18cd1 2px;
        cursor: pointer;
    }
} */












