.main--reg{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.title-reg{
    color: #9089cc;
    margin: auto;
}

.tagger2{
    border-radius: 20px;
    box-shadow: 16px 18px 3px 3px #12111142;
}
