.reg--container{
    height: 50.75em;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 10px;
}
/* tarjeta blanca */ 
.reg-info-container{
    width: 85%;
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 3.5rem;
    background-color: var(--all-bg);
    margin: auto;
    border-radius: 10px;
    margin-top: 31px;
}

@media (min-width:768px){
    .reg-info-container{
        width: 65%;
        height: 110vh;
    }
    .btn-redes{
        width: 50px;
        height: 50px;
    }
}
@media (min-width:1024px){
  
    .reg--container{
        height: 55.75em;
    }
}