<%- include('./partials/head', {title: 'Administrador'}) %> 
<body>
    <%- include('./partials/header') %> 
    <main class="main--admi">
        <div class="admi--container">
            <h2 class="admi--div-titulo">Bienvenido a las vista de administrador</h2>
            <div class="sub">
                <div class="admi-info-container">
                
                <a class="admi__button" href="/products/create"><button>Cambiar Rol</button></a>
                <a class="admi__button" href="products/productCreate"><button>Crear Producto</button></a>
                <a class="admi__button" href="/products/create"><button>Eliminar Usuario</button></a>
                
                </div>
            </div>
    </div>
    </main> 
</body>