<%- include('./partials/head', {title: 'Home'}) %> 
<body>
    <%- include('./partials/header') %> 
    <main class="home__main">
        <div class="home__main--banner">
            <img src="/images/purina.jpg">
        </div>
        <section class="home__main__section--novedades">
            <h2>NOVEDADES</h2>
            <section class="home__main__articulos">
                <article class="home__main__section--article">
                    <a href="/products/detail"><img src="/images/ropita.cat.jpg"></a>
                    <div class="home__main__section__article--div">
                        <h4>Kit Deportivo</h4>
                        <p>$13.000</p>
                        <a href="/products/cart" class="home__main__section__article--div--a"><i class="fa-solid fa-cart-shopping"></i>Añadir al carrito</a>
                    </div>
                </article>
                <article class="home__main__section--article">
                    <a href="/products/detail"><img src="/images/camita.cat.jpg"></a>
                    <div class="home__main__section__article--div">
                        <h4>Cama Cat</h4>
                        <p>$7.500</p>
                        <a href="/products/cart" class="home__main__section__article--div--a"><i class="fa-solid fa-cart-shopping"></i>Añadir al carrito</a>
                    </div>
                </article>
                <article class="home__main__section--article">
                    <a href="/products/detail"><img src="/images/kit.platos.jpg"></a>
                    <div class="home__main__section__article--div">
                        <h4>Kit Platos</h4>
                        <p>$7.000</p>
                        <a href="/products/cart" class="home__main__section__article--div--a"><i class="fa-solid fa-cart-shopping"></i>Añadir al carrito</a>
                    </div>
                </article>
                <article class="home__main__section--article">
                    <a href="/products/detail"><img src="/images/juguete.cat.jpg"></a>
                    <div class="home__main__section__article--div">
                        <h4>Rascador Cat</h4>
                        <p>$11.000</p>
                        <a href="/products/cart" class="home__main__section__article--div--a"><i class="fa-solid fa-cart-shopping"></i>Añadir al carrito</a>
                    </div>
                </article>
            </section>
        </section>
        <section class="home__main__section--destacados">
            <h2>DESTACADOS</h2>
            <section class="home__main__articulos">
                <article class="home__main__section--article">
                    <a href="/products/detail"><img src="/images/kit.correa.completo.jpg"></a>
                    <div class="home__main__section__article--div">
                        <h4>Kit Correa Completo</h4>
                        <p>$5.000</p>
                        <a href="/products/cart" class="home__main__section__article--div--a"><i class="fa-solid fa-cart-shopping"></i>Añadir al carrito</a>
                    </div>
                </article>
                <article class="home__main__section--article">
                    <a href="/products/detail"><img src="/images/collar.rosa.jpg"></a>
                    <div class="home__main__section__article--div">
                        <h4>Collar Pink</h4>
                        <p>$3.000</p>
                        <a href="/products/cart" class="home__main__section__article--div--a"><i class="fa-solid fa-cart-shopping"></i>Añadir al carrito</a>
                    </div>
                </article>
                <article class="home__main__section--article">
                    <a href="/products/detail"><img src="/images/colchones.jpg"></a>
                    <div class="home__main__section__article--div">
                        <h4>Camitas Plegables</h4>
                        <p>$13.000</p>
                        <a href="/products/cart" class="home__main__section__article--div--a"><i class="fa-solid fa-cart-shopping"></i>Añadir al carrito</a>
                    </div>
                </article>
                <article class="home__main__section--article">
                    <a href="/products/detail"><img src="/images/ropita.dog.jpg"></a>
                    <div class="home__main__section__article--div">
                        <h4>Buzo Oversize</h4>
                        <p>$7.000</p>
                        <a href="/products/cart" class="home__main__section__article--div--a"><i class="fa-solid fa-cart-shopping"></i>Añadir al carrito</a>
                    </div>
                </article>
            </section>
        </section>
        <section class="home__main__section--ofertas">
            <h2>OFERTAS</h2>
            <section class="home__main__articulos">
                <article class="home__main__section--article">
                    <a href="/products/detail"><img src="/images/juguete.dog.2.jpg"></a>
                    <div class="home__main__section__article--div">
                        <h4>Rope Knot Toys</h4>
                        <p>$5.000</p>
                        <a href="/products/cart" class="home__main__section__article--div--a"><i class="fa-solid fa-cart-shopping"></i>Añadir al carrito</a>
                    </div>
                </article>
                <article class="home__main__section--article">
                    <a href="/products/detail"><img src="/images/Correa.jpeg"></a>
                    <div class="home__main__section__article--div">
                        <h4>Correa Turquesa</h4>
                        <p>$2.000</p>
                        <a href="/products/cart" class="home__main__section__article--div--a"><i class="fa-solid fa-cart-shopping"></i>Añadir al carrito</a>
                    </div>
                </article>
                <article class="home__main__section--article">
                    <a href="/products/detail"><img src="/images/platitos.colores.jpg"></a>
                    <div class="home__main__section__article--div">
                        <h4>Plato Ceramico</h4>
                        <p>$7.000</p>
                        <a href="/products/cart" class="home__main__section__article--div--a"><i class="fa-solid fa-cart-shopping"></i>Añadir al carrito</a>
                    </div>
                </article>
                <article class="home__main__section--article">
                    <a href="/products/detail"><img src="/images/camita.dog.jpg"></a>
                    <div class="home__main__section__article--div">
                        <h4>Cama Nudo</h4>
                        <p>$12.500</p>
                        <a href="/products/cart" class="home__main__section__article--div--a"><i class="fa-solid fa-cart-shopping"></i>Añadir al carrito</a>
                    </div>
                </article>
            </section>
        </section>
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>