<%- include('./partials/head', {title: 'Inicio'}) %> 
<body>
    <div class="container">
        <nav>
            <div class="logo">G A<b>.</b></div>
            <ul class="navItems">
                <li><a href="/index">Home</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Logeate</a></li>
            </ul>
            <div class="links">
                <a href="#"><i class="fa-brands fa-facebook"></i> </a>
                <a href="#"><i class="fa-brands fa-instagram"></i> </a>
                <a href="#"><i class="fa-brands fa-google-plus"></i> </a>
            </div>
        </nav>
        <div class="wrapper">
            <div class="cols cols0">
                <span class="topline">Hola, Somos</span>
                <h1 class="multiText">Garras Amigas</h1>
                <p>Tenemos Gran Variedad de Accesorios y Alimentos para Perros y Gatos. Conocenos.</p>
                <div class="btn">
                    <button>Adm.</button>
                    <button>Rol</button>
                </div>
            </div>
            <div class="cols cols1">
                <div class="imgbox">
                    <img src="/images/man.png" id="splash">
                    <img src="/images/inicio1.png" >

                </div>
            </div>
        </div>
       
    </div>
    
        
</body>