<%- include('./partials/head', {title: 'Inicio'}) %> 
<body class="body--inicio">
    <div class="inicio--container">
        <!-- /* mini header */ -->
        <nav class="inicio--nav">
            <div class="inicio--logo">G A<b>.</b></div>
            <ul class="inicio--navItems">
                <li><a href="/index">Home</a></li>
                <li><a href="#">Nosotros</a></li>
                <li class="info"><a href="#">información</a></li>
            </ul>
            <div class="inicio--links">
                <a href="#"><i class="fa-brands fa-facebook"></i> </a>
                <a href="#"><i class="fa-brands fa-instagram"></i> </a>
                <a href="#"><i class="fa-brands fa-google-plus"></i> </a>
            </div>
        </nav>
        <!-- /* mini body */ -->
        <div class="inicio--wrapper">
            <div class="inicio--cols inicio--cols0">
                <span class="inicio--topline">Hola, Somos</span>
                <h1 class="inicio--multiText">Garras Amigas</h1>
                <p>Tenemos Gran Variedad de Accesorios y Alimentos para Perros y Gatos. Conocenos.</p>
                <div class="inicio--btns">
                    <button >Adm.</button>
                    <button>Rol</button>
                </div>
            </div>
            <div class="inicio--cols inicio--cols1">
                <div class="inicio--imgbox">
                    <img src="/images/man.png" id="splash">
                    <img src="/images/inicio1.png" >

                </div>
            </div>
        </div>
       
    </div>
    
        
</body>