<%- include('../partials/head', {title: 'Administración'}) %> 
<body>
    <%- include('../partials/header') %> 
    <h1>Administración</h1>
   
    <h2>Hola :<%= user %> </h2>

   <a href="/adm/create">Crear producto</a>
  
</body>
