<%- include('../partials/head', {title: 'Login'}) %> 
<body>
    <%- include('../partials/header') %> 
    <main class="main__loginAdm">
        <section class="main__loginAdm__container">
            <h1>Usuario</h1>
            
            <form action="/adm/admin" >
                <input type="text" placeholder="  Nombre" name="user"/>
                <div class="main__loginAdm__botones__send">
                    <button type="submit">INGRESA!</button>
                </div>
            </form>
            <p style="color: red"><%= msg %> </p>
            
        </section>
    </main>
</body>
</html>
   

   


