<footer class="home__footer">
    <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-6 d-none d-lg-block frases">
      <span>Conéctate con nosotros en las redes sociales:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
        <div class="social-all-footer text-center">
            <div class="social-all-element-footer text-center">
              <a href="#" class="btn-redes"><i class="fa-brands fa-facebook-f"></i> </a>
              <a href="#" class="btn-redes"><i class="fa-brands fa-instagram"></i> </a>
              <a href="#" class="btn-redes"><i class="fa-brands fa-google"></i> </a>
            </div>
          </div>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-6">
      <!-- Grid row -->
      <div class="row mt-4">
        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-6 mx-auto mb-6">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-6 frases">
            <i class="fas fa-gem me-3"></i>¿Necesitas ayuda?
          </h6>
          <p>
            Estamos aqui para ayudarte a que tu experiencia con nosotros sea lo mas comoda posible.
            Ante cualquier duda, comunicate con nosotros mediante nuestro whatsapp o redes sociales.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-4 frases">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa-sharp fa-solid fa-cash-register me-3 "></i> METODOS DE PAGO
          </h6>
          <img class="img-pagos" src="/images/metodos.png"  width="200" alt=""> 
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 frases">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa-sharp fa-solid fa-truck me-3"></i> ENVIOS
          </h6>
          <img  class="img-pagos" src="/images/envios.png" width="180" alt=""> 
        </div>
        
        
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
    <div class="text-center p-4 frases" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Garras Amigas.
    </div>
  <!-- Copyright -->
</footer>
