<footer class="home__footer">
    <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-6 d-none d-lg-block">
      <span>Conéctate con nosotros en las redes sociales:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
        <div class="social-all-footer text-center">
            <div class="social-all-element-footer text-center">
              <a href="#" class="btn-redes"><i class="fa-brands fa-facebook-f"></i> </a>
              <a href="#" class="btn-redes"><i class="fa-brands fa-instagram"></i> </a>
              <a href="#" class="btn-redes"><i class="fa-brands fa-google"></i> </a>
            </div>
          </div>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-6">
      <!-- Grid row -->
      <div class="row mt-4">
        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-6 mx-auto mb-6">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-6">
            <i class="fas fa-gem me-3"></i>¿Necesitas ayuda?
          </h6>
          <p>
            Estamos aqui para ayudarte a que tu experiencia con nosotros sea lo mas comoda posible.
            Ante cualquier duda, comunicate con nosotros mediante nuestro whatsapp o redes sociales.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
         
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p> -->
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Garras Amigas:
    </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
    <!-- <div class="home__footer__divContainer home__footer__divContainer0">
        <h2>Enlaces rapidos</h2>
        <ul>
            <li><a href="#">#Somos Garras Amigas</a></li>
            <li><a href="#">#Guia de compra</a></li>
            <li><a href="#">#Preguntas frecuentes</a></li>
            <li><a href="#">#Politica de cambio o devolución</a></li>
            <li><a href="#">#Contactanos</a></li>
        </ul>
    </div>
    <div class="home__footer__divContainer1 home__footer__divContainer">
        <h2>¿Necesitas ayuda?</h2>
        <p>Estamos aqui para ayudarte a que tu experiencia con nosotros sea lo mas comoda posible</p>
        <p>Ante cualquier duda, nuestros horarios de atencion es de lunes a viernes desde las 9:00am - 18:00pm</p>
    </div>
    <div class="home__footer__divContainer2 home__footer__divContainer">
        <h2>¡Siguenos en nuestras redes!</h2>
        <div class="home__footer__divContainer2--direccion">
            <i class="fa-brands fa-whatsapp"></i>
            <a href="#">Whatsapp</a>
        </div>
        <div class="home__footer__divContainer2--direccion">
            <i class="fa-brands fa-square-facebook"></i>
            <a href="#">Facebook</a>
        </div>
        <div class="home__footer__divContainer2--direccion">
            <i class="fa-brands fa-instagram"></i>
            <a href="#"></i>Instagram</a>
        </div>
    </div>
    <div class="home__footer__divContainer2--textarea">
        <form action="/" class="home__footer__divContainer2--textarea--form">
            <h2>¡Dejanos tu comentario!</h2>
            <textarea name="comentario" id="comentario" cols="40" rows="10" maxlength="300"></textarea>
            <div class="home__footer__form__botones">
                <input class="footer__input__reset" type="reset" name="comentario" id="comentario" value="Reset">
                <input class="footer__input__submit" type="submit" name="comentario" id="comentario" value="Enviar">
            </div>
        </form>
    </div> -->
</footer>