<header>

    <body>
        <%- include('modalCart') %>

        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid header--logo">
                <a class="navbar-brand" href="/">
                    <img src="/images/logopyg.png" alt="logo" width="80" height="80">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-item dropdown" aria-current="page" href="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item dropdown " aria-current="page" href="/products/product">Productos</a>
                        </li>

                        <!-- xxxxxxxxxxxxxventana emergentexxxxxxxxxx  -->
                        <% if(locals.login) { %>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle link-VE" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <p>HOLA</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/users/profile">Mi Perfil</a></li>
                                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#cartModal" href="#">Mi Carrito</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <% if(locals.login) { %>
                                        <% if(locals.login.rolId===1) { %>
                                            <li><a class="dropdown-item" href="/products/create">Crear un Producto</a></li>
                                        <% }} %>
                                    <li><a class="dropdown-item" href="/users/logout">Salir</a></li>
                                </ul>
                            </li>
                            
                            <% }else{ %>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle link-VE" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Ingresa
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item"  href="/users/login">Logueate</a></li>
                                        <li><a class="dropdown-item" href="/users/register">Registrate</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <!-- <li><a class="dropdown-item" href="/users/logout">Salir</a></li> -->
                                        
                                    </ul>
                                </li>
                                
                            <% } %>
                    </ul>
                    <form action="/products/search" method="get" class="d-flex header--search" role="search">
                        <input class="form-control me-2" name="keywords" type="search" placeholder="Buscador"
                            aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
        </nav>


    </body>

    </html>
    <script src="/javascripts/cart.js"></script>