<header>
    <div class="header__container">
        <nav>
        <div class="logo" ><a href="/"> G A<b>.</b></a></div>
        <button class="header--menu"
            onclick="document.querySelector('.header--nav').classList.toggle('show')">
            <i class="fa fa-bars"> Menu </i>
        </button>
       
        <form action="" class="header--search">
            <input type="text" placeholder="  Buscar" />
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <nav>
            <div class="header--links">
                <% if(locals.login) { %>
                    <a href="/users/profile "><i class="fa-regular fa-circle-user"></i> </a>
                    <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i> </a>
                    <a href="/users/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> </a>
                <% }else{ %>
                    <a href="/users/login"><i class="fa-solid fa-person-walking-arrow-right"></i></a>
                <% } %>
            </div>
            <ul class="header__nav">
                <li><a href="/products/product"> PRODUCTOS </a></li>
                <li><a href="/contacto">CONTACTO</a></li>
                <li><a href="/talles">GUIA DE TALLES</a></li>
                <li><a href="/products/create">AGREGAR PRODUCTO</a></li>
            </ul>
            
        </nav>
        </nav>
    </div>
</header>