<header>
    <main class="header-main">
        <nav class="header--nav">
            <a href="/"><div class="header--logo"> GA<b>.</b></a></div>
                
            <ul class="header--navItems">
                <li><a href="/index">Home</a></li>
                <li><a href="/products/product">productos</a></li>
                <!-- <li><a href="/products/create">agr. producto</a></li> -->
                <form action="/products/search" class="menu_Form menu_Bar_Conten" method="get">
                    <input type="search" name="keywords" >
                    <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                </form>
            </ul>
            <div class="header--links">
                <% if(locals.login) { %>
                    <a class="hebtn-redes" href="/users/profile "><i class="fa-regular fa-circle-user"></i></a>
                    <a class="hebtn-redes" href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                    <a class="hebtn-reder" href="/admi/admi"><i class="fa-solid fa-lock"></i></a>
                <% }else{ %>
                    <a class="hebtn-redes" href="/users/login"><i class="fa-solid fa-person-walking-arrow-right"></i></a>
                <% } %>
            </div>      
        </nav>
    </main>
</header>

  
