<header>
    <main class="header-main">
        <nav class="header--nav">
            <a href="/"><div class="header--logo"> GA<b>.</b></a></div>
                
            <ul class="header--navItems">
                <li><a href="/index">Home</a></li>
                <li><a href="/products/product">productos</a></li>
                <li><a href="/products/create">agr. producto</a></li>
            </ul>
            <div class="header--links">
                <% if(locals.login) { %>
                    <a href="/users/profile ">perfil</a>
                    <a href="/products/cart">carrito</a>
                    <a href="/users/logout">salir</a>
                <% }else{ %>
                    <a href="/users/login">logeate</a>
                <% } %>
            </div>
        
        
        </nav>
 </main>


    <!-- <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script> -->
    <!-- <script>
        var typingEffect = new Typed(".header__icon",{
            strings : ['GARRAS',''],
            loop: true,
            typeSpeed: 100,
            backSpeed: 80,
            backDelay: 1500
        })
    </script>
</header>  

     -->

