<header class="home__header">
    <div class="home__header--header">
        <!-- header de tablet y compu -->
        <div class="home__header--logo">
            <a href="/"><img src="/images/productos/garrasLogo.png" alt="logo" /></a>
        </div>
        <form action="" class="home__header--search--header">
            <input type="text" placeholder="  Buscar productos, marcas" />
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <div class="home__header--menu">
            <label for="btn-menu"><i class="fa-solid fa-bars"></i></label>
        </div>
        <div class="home__header--favicon">
            <% if(locals.login) { %> 
            <div class="home__header--edit--2">
                <a href="/users/profile "><i class="fa-regular fa-circle-user"></i> </a>
            </div>
            <div class="home__header--carrito--2">
                <a href="/users/logout"><i class="fa-solid fa-cart-shopping"></i> </a>
            </div>
            <div>
                <a href="/users/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> </a>
            </div>
            <% }else{  %> 
            <div class="home__header--contacto--2">
                <a href="/users/login"><i class="fa-solid fa-person-walking-arrow-right"></i></a>
            </div>
            <% } %> 
    </div>
    <!--  NAVEGADOR QUE SE VE DEBAJO DEL HEADER -->
    <div class="home__header--header--2">
        <nav class="home__header__nav--2">
            <ul>
                <li><a href="/products/product"> PRODUCTOS </a></li>
                <li><a href="/dudas"> DUDAS?</a></li>
                <li><a href="/guia"> GUIA DE COMPRAS</a></li>
                <li><a href="/contacto">CONTACTO</a></li>
                <li><a href="/talles">GUIA DE TALLES</a></li>
                <li><a href="/products/create">AGREGAR PRODUCTO</a></li>
            </ul>
        </nav>
    </div>


    <!-- FIN DEL HEADER DE TABLET  Y DESCKTOP -->


    <!-- COMIeNZO DEL HEADER DE MOVIL -->

    <input type="checkbox" id="btn-menu" />

    <div class="home__header--container-menu">
        <div class="home__header--cont-menu">
            <form action="" class="home__header--search">
                <input type="text" placeholder="  Buscar productos, marcas" />
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="home__header--contacto-edit">
                <% if(locals.login) { %> 
                    <div class="home__header--edit">
                        <a href="/users/profile"><button><i class="fa-regular fa-circle-user"></i></button> </a>
                    </div>
                    <div class="home__header--carrito">
                        <button><a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a></button>
                    </div>
                <% }else{  %> 
                    <div class="home__header--contacto">
                        <a href="/users/login"><i class="fa-solid fa-person-walking-arrow-right"></i></a>
                    </div>
                <% } %> 
            </div>
            <hr>
            <div>
                <nav>
                    <ul>
                        <li><a href="/products/product"> • PRODUCTOS </a></li>
                        <li><a href="/dudas"> • DUDAS?</a></li>
                        <li><a href="/guia"> • GUIA DE COMPRAS</a></li>
                        <li><a href="/contacto"> • CONTACTO</a></li>
                        <li><a href="/talles"> • GUIA DE TALLES</a></li>
                        <li><a href="/products/create"> • AGREGAR PRODUCTO</a></li>
                    </ul>
                </nav>  
                <img class="img-final" src="/images/baño.png" width="200" />
            </div>
        <label for="btn-menu">✖️</label>
    </div>
</header>
