<header>
    <main class="header-main">
        <nav class="header--nav">
            <a href="/"><div class="header--logo"> GA<b>.</b></a></div>
                
            <ul class="header--navItems">
                <li><a href="/index">Home</a></li>
                <li><a href="/products/product">productos</a></li>
                <li><a href="/products/create">agr. producto</a></li>
            </ul>
            <div class="header--links">
                <% if(locals.login) { %>
                    <a class="hebtn-redes" href="/users/profile "><i class="fa-regular fa-circle-user"></i></a>
                    <a class="hebtn-redes" href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                <% }else{ %>
                    <a class="hebtn-redes" href="/users/login"><i class="fa-solid fa-person-walking-arrow-right"></i></a>
                <% } %>
            </div>
        
        
        </nav>
 </main>
</header>

    <!-- <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script> -->
    <!-- <script>
        var typingEffect = new Typed(".header__icon",{
            strings : ['GARRAS',''],
            loop: true,
            typeSpeed: 100,
            backSpeed: 80,
            backDelay: 1500
        })
    </script> -->
  
