<%- include('../partials/head', {title: 'Login'}) %> 
<body>
    <%- include('../partials/header') %> 
    <main class="main__login">
        <section class="main__login__container">
            <h1>Ingresa</h1>
            <div class="main__login__iniciar">
                <p>¿Aún no tenes una cuenta?</p><a href="/users/register">Registrate </a>
            </div>
            <form action="" class="main__login__form" method="">
                <input type="email" placeholder="  EMAIL" name="email" />
                <input type="password" placeholder="  CONTRASEÑA" name="contrasenia" />
                <div class="main__login__botones__send">
                    <button type="submit">INGRESA!</button>
                </div>
            </form>
            <div class="main__login__botones__redes">
                <h5>O INGRESA CON</h5>
                <div class="redes__sociales">
                    <a href=""><i class="fa-brands fa-facebook"></i> </a>
                </div>
                <div class="redes__sociales">
                    <a href=""><i class="fa-brands fa-instagram"></i> </a>
                </div>
                <div class="redes__sociales">
                    <a href=""><i class="fa-brands fa-google-plus"></i> </a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
   

   


