<%- include('../partials/head', {title: 'Login'}) %> 
<body>
    <%- include('../partials/header') %> 
    <main class="main__register">
        <section class="main__register__container">
            <h1>Ingresa</h1>
          <div class="main__register__container__text">
                <p>¿No tienes un perfil ?</p><a href="/register">¡Registrate!</a>              
            </div>
            <form action="" class="main__register__form" method="">
                <label for="">Email</label>
                <input type="email" placeholder="miEmail@hola.com" name="email" />
                <small  class="texto--error">El email es obligatorio</small>

                <label for="">Contraseña</label>
                <input type="password" placeholder="************" name="contrasenia" />
                <small  class="texto--error">El password debe contener entre 6 y 12 caracteres</small>
             
                <div class="main__register__botones__send">
                    <button type="submit">Enviar</button>
                </div>
            </form>
            <hr>
            <p>O Ingresa con</p>          
            <div class="redes__sociales__f">
                <a href=""><i class="fa-brands fa-facebook"></i>
                    Ingresa con Facebook</a>
                <!-- <button class="form__button form__button--send" type="submit">Registrate</button> -->
            </div>
            <div class="redes__sociales__g ">
                <a href=""><i class="fa-brands fa-google-plus"></i>
                    Ingresa  con Google</a>
                <!-- <button class="form__button form__button--send" type="submit">Registrate</button> -->
            </div>      
        </section>
    </main>
    <%- include('../partials/footer') %> 
</body>

</html>
   

   


