<%- include('../partials/head', {title: 'Register'}) %> 
<body>
    <%- include('../partials/header') %> 
    <main class="main__register">
        <section class="main__register__container">
            <h1>REGÍSTRATE</h1>
            <div class="main__register__iniciar">
                <p>¿Ya tenes un perfil ?</p><a href="/users/login">Inicia Sesión</a>
            </div>
            <form  action=""  method="" class="main__register__form">
                <div class="main__register__input">
                    <input placeholder="  NOMBRE" type="text" id="firstName" atocomplete="off" name="firstName">
                </div>
                <div class="main__register__input">
                    <input placeholder="  APELLIDO" type="text" id="lastName" autocomplete="off" name="lastName">
                </div>
                <div class="main__register__input ">
                    <input placeholder="  NÚMERO DE TELEFONO" type="number" id="phone" autocomplete="off" name="phone">
                </div>
                <div class="main__register__input ">
                    <input placeholder="  EMAIL" type="email" id="email" name="email">
                </div>
                <div class="main__register__input">
                    <input placeholder="  CONTRASEÑA" type="password" id="password" name="password">
                </div>
                <div class="main__register__input">
                    <input placeholder="  REPETIR CONTRASEÑA" type="password" id="re-password" autocomplete="off" name="re-password">
                </div>
                <div class="main__register__input">
                    <input placeholder="  DIRECCIÓN" type="text" id="direction" autocomplete="off" name="direction">
                </div>
                <div class="main__register__input--numeros">
                    <input placeholder="  ALTURA" type="number" id="number" autocomplete="off" name="number">
                </div>
                <div class="main__register__input--numeros">
                    <input placeholder="  CODIGO POSTAL" type="number" id="cp" autocomplete="off" name="cp">
                </div>
                <div class="main__register__input">
                    <input placeholder="  LOCALIDAD" type="text" id="location" autocomplete="off" name="location">                  </div>
                <div class="main__register__input">
                    <input placeholder="  PROVINCIA" type="text" id="province" autocomplete="off" name="province">
                </div>
                <div class="main__register__input">
                    <label for="imgUsers" class="form-label">Agrega tu foto de perfil</label>
                    <input id="imgUsers" type="file" name="imgUsers" autocomplete="off">
                </div>
                <div class="main__register__botones__send">
                    <button type="submit">ENVIAR!</button>
                </div>
            </form>
            <div class="main__register__botones__redes">
                <h5>O REGISTRATE CON</h5>
                <div>
                    <a href=""><i class="fa-brands fa-facebook"></i> </a>
                </div>
                <div>
                    <a href=""><i class="fa-brands fa-instagram"></i> </a>
                </div>
                <div>
                    <a href=""><i class="fa-brands fa-google-plus"></i> </a>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>