
    <%- include('../partials/head', {title: 'Register'}) %> 
<body>
    <%- include('../partials/header') %> 
    <main class="main__register">
        <section class="main__register__container">
            <h1>REGÍSTRATE</h1>
            <div class="main__register__container__text">
                <p>¿Ya tienes tu perfil ?</p><a href="/login">Iniciar Sesión</a>
            </div>
            <form action="" class="main__register__form" method="">

                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" autocomplete="off" name="firstName">
                <small  class="texto--error">El nombre es obligatorio</small>

                <label for="apellido">Apellido:</label>
                <input min="0" step="0.1" max="10" type="text" id="apellido" name="lastName">
                <small  class="texto--error">El apellido es obligatorio</small>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
                <small  class="texto--error">El email es obligatorio</small>

                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password">
                <small  class="texto--error">El password debe contener entre 6 y 12 caracteres</small>

                <div class="main__register__botones__send">
                    <button type="reset">Cancelar</button>
                    <button type="submit">Registrate</button>
                </div>
            </form>
            <hr>
            <p>O Regístrate con</p>
            <div class="redes__sociales__f">
                <a href=""><i class="fa-brands fa-facebook"></i>
                    Facebook</a>
                <!-- <button class="form__button form__button--send" type="submit">Registrate</button> -->
            </div>
            <div class="redes__sociales__g ">
                <a href=""><i class="fa-brands fa-google-plus"></i>
                    Google</a>
                <!-- <button class="form__button form__button--send" type="submit">Registrate</button> -->
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>