<%- include('../partials/head', {title: 'Register'}) %> 
<body>
    <%- include('../partials/header') %> 
    <main class="main__register">
        <section class="main__register__container">
            <h1>REGÍSTRATE</h1>
            <div class="main__register__iniciar">
                <p>¿Ya tenes un perfil ?</p><a href="/users/login">Inicia Sesión</a>
            </div>
            <form action="" class="main__register__form" method="">
                <input placeholder="  NOMBRE" type="text" id="nombre" autocomplete="off" name="firstName">
                <!-- <small  class="texto--error">El nombre es obligatorio</small> -->
                <input placeholder="  EMAIL" type="email" id="email" name="email">
                <!-- <small  class="texto--error">El email es obligatorio</small> -->
                <input placeholder="  CONTRASEÑA" type="password" id="password" name="password">
                <!-- <small  class="texto--error">El password debe contener entre 6 y 12 caracteres</small> -->
                <a href="#" class="contraseña">
                    <h5> ¿Olvidaste tu contraseña? </h5>
                </a>

                <div class="main__register__botones__send">
                    <button type="submit">ENVIAR!</button>
                </div>
            </form>
            <div class="main__register__botones__redes">
                <h5>O REGISTRATE CON</h5>
                <div class="redes__sociales--fa   ">
                    <a href=""><i class="fa-brands fa-facebook"></i> </a>
                </div>
                <div class="redes__sociales--insta  ">
                    <a href=""><i class="fa-brands fa-instagram"></i> </a>
                </div>
                <div class="redes__sociales--go  ">
                    <a href=""><i class="fa-brands fa-google-plus"></i> </a>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>